{%extends "Master.html"%}
{% block title %}Create User{% endblock %}
{% block content %}
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px;">
          <!-- Mask -->
          <span class="mask bg-gradient-primary opacity-8"></span>
          <!-- Header container -->
          <div class="container-fluid d-flex align-items-center">
            
          </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
          <div class="row">
            
            <div class="col">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">Create User Account</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form action="{{url_for('dashboard.create')}}" method="post" role="form" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                    <h6 class="heading-small text-muted mb-4">User information</h6>
                    <div class="pl-lg-4">
                      
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Username</label>
                            {{form.username(class_='form-control',placeholder=form.username.label.text)}}
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-last-name">Designation</label>
                            {{form.designation(class_='form-control',placeholder=form.designation.label.text)}}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Email address</label>
                            {{form.email(class_='form-control',placeholder=form.email.label.text)}}
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Password</label>
                            {{form.password(class_='form-control',placeholder=form.password.label.text)}}password
                          </div>
                        </div>


                      </div>
                      <div class="row">

                        

                          <div class="col">
                            <div class="form-group">
                              <label class="form-control-label" for="input-role">Role</label>
                              <select class="form-control form-control-alternative" id="role" name = "role">
                                    <option value="1" class="form-control">Admin</option>
                                    <option value="2">User</option>
                              </select>
                            </div>
                          </div>

                      </div>

                      <div class="row">

                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label" for="userImage">Upload An Image</label>
                                 
                                {{ form.picture(class_='form-control-file') }}
                                {% if form.picture.errors %}
                                    {% for error in form.picture.errors %}
                                        <span class="text-danger">{{ error }} </span></br>
                                    {% endfor %}
                                {% endif %}
                            
                              </div>
                          </div>
                    </div>

                    </div>
                    <hr class="my-4" />
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Contact information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="form-control-label" for="input-address">Address</label>
                            {{form.address(class_='form-control',placeholder=form.address.label.text)}}
                          </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="input-city">Cell No</label>
                              {{form.phoneNo(class_='form-control',placeholder=form.phoneNo.label.text)}}
                            </div>
                          </div>
                      </div>
                      
                    </div>

                    <div class="row">
                        <div class="col">
                        <div class="pl-lg-4">
                        <div class="form-group text-center">
                            {{form.submit(class_='btn btn-primary pl-8 pr-8')}}
                        </div>
                        </div>
                        </div>
                    </div>
                
                  </form>
                </div>
              </div>
            </div>
          </div>


  </div>
  {% endblock %}